# Custom files and directories to ignore
**/*.gguf
**/*.db
**/*.db-journal
**/*.sqlite-journal
**/*.sqlite3-journal
**/*.wal
**/*.shm
**/*.pyc
**/*.7z
/client/temp/
/client/data/
/client/config.json
/client/model/chroma/
/client/model/last_processed_record.json
/client/model/last_synced_record.json
/launcher/python_embedding/
/build
/builder/build
/miniconda
# React specific
node_modules/
/build/
/npm-debug.log
/yarn-error.log
*.log
# Electron specific
/dist/
/electron-packager/
/electron-builder-out/
/*.log

